<h1><strong>3D Printer</strong></h1>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:8px 18px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:8px 18px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-6k2t{background-color:#D2E4FC;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l">3D printerA</th>
    <th class="tg-yw4l">3D PrinterB</th>
    <th class="tg-yw4l">3D PrinterC</th>
  </tr>
  <tr>
    <td class="tg-yw4l">Cost</td>
    <td class="tg-6k2t">$100 per part</td>
    <td class="tg-yw4l">$110 per part</td>
    <td class="tg-6k2t">$120 per part</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Size</td>
    <td class="tg-6k2t">10"10"10"</td>
    <td class="tg-yw4l">15"15"15"</td>
    <td class="tg-6k2t">20"20"20"</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Type</td>
    <td class="tg-6k2t">SLA</td>
    <td class="tg-yw4l">FDM</td>
    <td class="tg-6k2t">SLS</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Time</td>
    <td class="tg-6k2t">2m</td>
    <td class="tg-yw4l">3m</td>
    <td class="tg-6k2t">4m</td>
  </tr>
</table>